body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(212, 209, 209);
    font-family: Verdana , Arial, Helvetica, sans-serif;

}
.table-container_products{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 5px inset black;
    margin: auto;
    border-radius: 10px;
}