<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Product</h5>

      </div>
      <div class="modal-body">
        <form ng-submit="updateProduct()" class="row">
            <div class="form-group col-md-6">
                <input type="hidden" ng-model="productDataUp.Code">
                <label>Name:</label>
                <input type="text" ng-model="productDataUp.Name"  class="form-control" required>
            </div>
            <div class="form-group col-md-4">
                <label>Price:</label>
                <input type="number" step="0.01" ng-model="productDataUp.Price" class="form-control" required><br>
            </div>
            <div class="form-group col-md-8">
                <label>Category:</label>
                <select ng-controller = "CategryController" ng-model="productDataUp.Category" ng-options="option.Name as option.Name for option in options" class="form-control"></select>
            </div><br>
              <button type="submit" class="btn btn-success">Save</button>
            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>